---
layout: page
title:
subtitle:
---

<main style="background-color: white; padding: 60px 70px">
	<!-- component for the title -->

	<head>
		<script
			src="https://cdn.plot.ly/plotly-2.27.0.min.js"
			charset="utf-8"
		></script>
	</head>

	<style>
		h2 {
			margin-top: 70px;
			margin-bottom: 25px;
		}

		h3 {
			margin-top: 50px;
			margin-bottom: 20px;
		}

    
		h4 {
			margin-top: 35px;
			margin-bottom: 15px;
		}

		body {
			font-family: Arial, sans-serif;
			margin: 20px;
		}
		.scene {
			margin-bottom: 20px;
			font-style: italic;
		}
		.character {
			font-weight: bold;
			margin-bottom: 5px;
		}
		.dialogue {
			margin-left: 20px;
			margin-bottom: 25px;
			flex: content;
		}
	</style>

	<div class="row" style="display: flex; justify-content: center">
		<div style="text-align: center">
			<div class="page-heading">
				<h1>Budget Battles</h1>
				<hr class="small" />
				<span class="page-subheading"
					>Maximizing Returns in Filmmaking Odyssey</span
				>
			</div>
		</div>
	</div>

	<h2>Movie Bet: John and Bob's Challenge</h2>

	<img
		src="./assets/img/PubImage.png"
		alt="John and Bob"
		style="width: 100%; max-width: 800px; margin: 50px auto; display: block"
	/>

	<div class="scene">
		[Scene: A bustling pub. John, a suave and affluent man in his 30s, and Bob,
		an inventive, relaxed guy in his 50s, are deep in conversation over beers.]
	</div>

	<div class="dialogue">
		<div class="character">John: (raising his glass)</div>
		"Here's to our next ventures, Bob! I'm already envisioning my next
		blockbuster."
	</div>

	<div class="dialogue">
		<div class="character">Bob: (smiling)</div>
		"Cheers, John! But you know, I've been thinking... I want to go a different
		route this time."
	</div>

	<div class="dialogue">
		<div class="character">John: (curiously)</div>
		"How so?"
	</div>

	<div class="dialogue">
		<div class="character">Bob:</div>
		"I'm convinced I can create a remarkable movie with a minimal budget. It's
		not just about lavish sets and star-studded casts."
	</div>

	<div class="dialogue">
		<div class="character">John: (laughs)</div>
		"Bob, in our world, bigger is better. More money means better technology,
		A-list stars, and top-notch marketing. That's how you captivate audiences
		globally."
	</div>

	<div class="dialogue">
		<div class="character">Bob: (earnestly)</div>
		"That's one way to see it. But consider this: lower budget films are often
		more story-driven. They're raw, authentic, and have a higher profit margin.
		A small investment can lead to big returns if the story resonates."
	</div>

	<div class="dialogue">
		<div class="character">John:</div>
		"Sure, a few small films have made it big, but they're the exception. You
		need scale, spectacle, and a sizable marketing budget to really make a
		splash. It's about creating a cultural phenomenon."
	</div>

	<div class="dialogue">
		<div class="character">Bob:</div>
		"But there's beauty in simplicity, John. A low-budget movie forces you to be
		creative. It's not about how much you spend, but how you use what you have.
		And when such a film succeeds, the return on investment is phenomenal."
	</div>

	<div class="dialogue">
		<div class="character">John: (pondering)</div>
		"Hmm... It's an interesting perspective. How about this? Let's make a
		friendly bet. I say my high-budget extravaganza will outperform your indie
		flick in both profits and popularity."
	</div>

	<div class="dialogue">
		<div class="character">Bob: (determined)</div>
		"You're on, John. This is the perfect chance to prove that great
		storytelling doesn't need a big wallet. Loser organizes and pays for the
		winner's movie premiere party?"
	</div>

	<div class="dialogue">
		<div class="character">John: (excited)</div>
		"That's a deal! To our movies and this challenge! May the best approach
		win."
	</div>

	<div class="dialogue">
		<div class="character">Bob:</div>
		"To creativity and success!"
	</div>

	<div class="scene">They clink their glasses, sealing their bet.</div>

	<h2>The Data Driven Approach to John and Bob's Challenge</h2>

	<div>
		To answer which approach is better, we will look at the data from the films
		in the TMBD database. The TMBD database contains information on over 45,000
		movies, including budget, revenue, and popularity. We will use this data to
		compare the performance of high-budget and low-budget films.
	</div>

	<h3>Defining Performance</h3>

	<div>
		To compare the performance of high-budget and low-budget films, we will
		consider the multiplier between the budget and the boxoffice. A 10x
		multiplier would imply that every dollar spent on the movie resulted in 10
		dollars in box office revenue.
	</div>

	<h3>Let's look at the data</h3>

	<div>
		After cleaning and filtering the data, we are left with 1701 movies. 855
		high budget movies and 846 low budget movies. Given the definition of
		performance above let take a look at the distribution of the multiplier for
		both high and low budget movies.
	</div>

	<img
		src="./assets/img/LowHighComparaison.png"
		style="width: 100%; max-width: 800px; margin: 50px auto; display: block"
	/>

	<div>
		Low-budget movies, in blue, typically yield more modest returns, but a
		select few outperform expectations with high profitability. High-budget
		films, in orange, show more consistent returns but fewer breakout financial
		successes.
	</div>

	<h4>Movie Genre</h4>

  <div>
    Let's look at the distribution of genres for both high and low budget
    movies.
  </div>

	{% include plots/pie_genre.html %} 
  
<div>
  The most popular genre are completely different for high and low budget. High budget top 5 genre are: Action, Adventure, Comedy, Science Fiction and Fantasy. 
  Low budget top 5 genre are: Drama, Thriller, Comedy, Horror and Romance.
  The biggest difference exists in Horrow where only 1.36% of high budget movies are in this genre compared to 11.01% for low budget movies.
  Let's try and understand why this is the case.
</div>
  
  {% include
	plots/genre_influence_multiplier.html %}

  <div>
    We can explain the difference in the amount of horror films in low budget compared to high budget by looking at the multiplier difference. 
    On average multiplier for horror films is 11.01 for low budget and 2.37 for high budget. 
    This means that low budget horror films return on investement multiplier is at least 3x greater than any other genre of high budget films.
    We can hypothesize that this financial incentive is what drives the difference in the amount of horror films in low budget compared to high budget.  
  </div>


	<h4>Movie Runtime</h4>

  <div>
    The Movie Runtime is the duration of the movie in minutes. Let's explore the distribution of runtime for both high and low budget movies and it's relation to the multiplier.
  </div>

	{% include plots/multiplier_by_runtime.html %}



	<div>
    The scatter plot compares the financial multiplier against the runtime for high (red) and low (blue) budget films.
     Most films cluster around the 90-120 minute mark, reflecting a standard movie length. 
     High-budget films show some outliers with high multipliers and longer runtimes, suggesting blockbuster potential for epic-scale movies. 
     Low-budget films also have outliers with high multipliers, indicating potential sleeper hits. Both high and low-budget categories show a wide scatter, implying that runtime alone is not a strong predictor of financial success.
      Overall, while there are high-performing movies at various lengths, the majority of films from both budget categories tend to have moderate runtimes and multipliers.
      This suggests that factors other than runtime may be more critical in determining a movie's financial performance.
	</div>

	<h4>Movie Actor Age and Sex</h4>

	{% include plots/multiplier_actors_age.html %} {% include
	plots/multiplier_actors_male_ratio.html %}

	<div>
		The first scatter plot explores the relationship between a film's financial multiplier and the ratio of actors below age 18. 
    Films with varying proportions of young actors do not consistently yield higher or lower returns for either budget category. 
    In the second scatter plot, examining the multiplier against the male ratio within the cast, a similar pattern emerges: there's no discernible trend that a higher proportion of male actors correlates with financial success. 
    Both high and low-budget films are dispersed throughout the plots, suggesting that the age and gender composition of the cast have a minimal direct impact on a movie's return on investment. 
    This data implies that casting decisions regarding age and gender are likely based on creative rather than financial considerations.
	</div>

  <h4>Initial Overall Perception</h4>

  <div>
    Low-budget films exhibit a greater variance in financial returns, indicating a higher risk but also the potential for significant profit, as seen in the broader spread of multipliers.
    In contrast, high-budget movies show more predictable returns, suggesting a lower risk but also a lower relative profitability.
    Genre preferences differ distinctly between the two, with low-budget films favoring genres like Horror that offer high returns at lower costs. 
    Although movie runtime does not strongly correlate with financial success, both high and low-budget films typically adhere to standard feature-length times. 
    This data implies that while high-budget films offer stability, low-budget films provide the allure of high rewards, driving diverse production strategies in the film industry. 
    However we only looked at the data from a high level. Let's dive deeper into the data and see if we can find more insights. What are the most important features that drive the multiplier?
  </div>

	<h2>What does our statistical analysis tell us?</h2>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
		pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
		massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
		risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
		eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
		consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
		neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
		tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
		sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
		et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
		ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
		nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
		convallis.
	</div>
	<h2>Conclusion</h2>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
		pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
		massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
		risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
		eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
		consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
		neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
		tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
		sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
		et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
		ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
		nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
		convallis.
	</div>
</div>
