---
layout: page
title:
subtitle:
---

<div style="background-color: white; padding: 0 70px">
  <!-- component for the title -->

  <div class="row" style="display: flex; justify-content: center">
    <div style="text-align: center">
      <div class="page-heading">
        <h1>Budget Battles</h1>
        <hr class="small" />
        <span class="page-subheading"
          >Maximizing Returns in Filmmaking Odyssey</span
        >
      </div>
    </div>
  </div>

  <h1>Question 1</h1>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
    pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
    massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
    risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
    eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
    consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
    neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
    tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
    sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
    et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
    ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
    nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
    convallis.
  </div>
  <h1>Question 2</h1>
  {% include plots/example_chart.html %}
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
    pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
    massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
    risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
    eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
    consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
    neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
    tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
    sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
    et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
    ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
    nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
    convallis.
  </div>
  <h1>Question 3</h1>
  {% include plots/example_chart_no_plotlyjs.html %}
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
    pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
    massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
    risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
    eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
    consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
    neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
    tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
    sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
    et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
    ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
    nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
    convallis.
  </div>
  <h1>Question 4</h1>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam
    pellentesque nec nam aliquam sem et tortor. Urna et pharetra pharetra massa
    massa ultricies. Sapien eget mi proin sed libero enim sed faucibus. Semper
    risus in hendrerit gravida rutrum quisque non. Enim ut sem viverra aliquet
    eget sit amet tellus cras. Nec nam aliquam sem et tortor consequat. Nunc
    consequat interdum varius sit amet mattis vulputate. Mattis rhoncus urna
    neque viverra justo. Pellentesque pulvinar pellentesque habitant morbi
    tristique senectus. Sed id semper risus in. Sodales neque sodales ut etiam
    sit amet nisl purus. Morbi tincidunt augue interdum velit euismod. Et netus
    et malesuada fames ac. Vitae suscipit tellus mauris a diam maecenas sed enim
    ut. Ornare arcu dui vivamus arcu felis bibendum. Consequat semper viverra
    nam libero justo laoreet sit amet. Ac turpis egestas maecenas pharetra
    convallis.
  </div>
</div>
